/* base.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #333;
}

p {
  color: #666;
  line-height: 1.6;
}

@media (max-width: 768px) {
  body.works_on_smartphone {
    flex-direction: column;
  }

  main {
    flex-direction: column;
  }

  article {
    flex: auto;
    width: 100%;
  }
}
